node_modules
.next
out
build
dist
.git
.gitignore
.agents
*.md
LICENSE
.env*.local
docker-compose*.yml
Dockerfile
.dockerignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
tsconfig.tsbuildinfo
